:root{
    --blue-color-text:rgb(33, 47, 248);
    --blue-color-bkg:rgb(153, 220, 252);
    --blue-color-border:rgb(111, 206, 250);
    --green-color-text:rgb(64, 194, 71);
    --green-color-bkg:rgb(215, 253, 218);
    --green-color-border:rgb(169, 255, 191);
    --black-color-text:black;
    --black-color-bkg:rgb(221, 219, 219);
    --black-color-border:rgb(167, 166, 166);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(245, 181, 62);
}

.body1{
text-align: center;
width:1000px;
margin: 0.5rem auto;
}

.header{
    min-width:600px;
    background-color: var(--black-color-bkg);
    border: 1px solid var(--black-color-border);
    color: var(--black-color-text);
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    
}

.header_nav{
    background-color:var(--blue-color-bkg);
     border: 1px solid var(--blue-color-border);
    color:var(--blue-color-text);
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;

}

.main_part {
    display: flex;
}

.section_left{
    width:66%;
    background-color:var(--black-color-bkg);
    color: var(--black-color-text);
    border: 1px solid var(--black-color-border);
 padding: 0.5rem 0.5rem;
    margin: 0.5rem;

}

.section_right{
    width:33%;
    background-color: var(--black-color-bkg);
    border: 1px solid var(--black-color-border);
    color: var(--black-color-text);
 padding: 0.5rem 0.5rem;
    margin: 0.5rem;
}

.section_left_header1{
background-color: var(--blue-color-bkg);
    border: 1px solid var(--blue-color-border);
    color: var(--blue-color-text);
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;

}

.section_left_article1, .section_left_article2 {
  background-color:var(--blue-color-bkg);
    border: 1px solid var(--blue-color-border);
    color:var(--blue-color-text);
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;

}

.section_left_header2, .section_left_header3{
 background-color:var(--green-color-bkg);
    border: 1px solid var(--green-color-border);
    color:var(--green-color-text);
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
}

.section_left_p1, .section_left_p3, .section_left_p4{
 background-color:var(--green-color-bkg);
    border: 1px solid var(--green-color-border);
    color:var(--green-color-text);
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
}

.section_left_p2{
 width:50%;
    background-color:var(--green-color-bkg);
    border: 1px solid var(--green-color-border);
    color: var(--green-color-text);
 padding: 0.5rem;
    margin: 0.1rem 0.5rem;
}

.section_left_aside{
  width:50%;
    background-color: var(--green-color-bkg);
    border: 1px solid var(--green-color-border);
    color: var(--green-color-text);
 padding: 0.5rem;
    margin: 0.1rem 0.5rem;
}

.section_left_footer1, .section_left_footer2{
     background-color:var(--green-color-bkg);
    border: 1px solid var(--green-color-border);
    color:var(--green-color-text);
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem;
}
.section_left_footer3{
   background-color: var(--blue-color-bkg);
    border: 1px solid var(--blue-color-border);
    color: var(--blue-color-text);
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
}


.section_right_header{
background-color: var(--blue-color-bkg);
    border: 1px solid var(--blue-color-border);
    color: var(--blue-color-text);
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
}

.nav_right{
background-color: var(--blue-color-bkg);
    border: 1px solid var(--blue-color-border);
    color: var(--blue-color-text);
    text-align: center;
    padding: 0.5rem 0.5rem;
    height: 83%;
    margin: 0.5rem 0.5rem;
}

.footer{
    background-color: var(--black-color-bkg);
    border: 1px solid var(--black-color-border);
    color: var(--black-color-text);
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
}

.highlight{
    background-color: red;
    border: 1px solid var(--black-color-border);
    color: var(--black-color-text);
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
}
